/* media queires for mobile screens  */

@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }
    nav h2 {
        margin-bottom: 25px;
    }
    .banner-image {
        margin: 30px auto;
    }
}


/* media quries for tablet screen  */

@media screen and (min-width:576.1px) and (max-width:770px) {
    nav {
        flex-direction: column;
    }
    nav h2 {
        margin-bottom: 25px;
    }
    .banner-image {
        margin: 30px auto;
    }
}