/* google fonts  */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* overall shared styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* common shared styles  */

:root {
  --background-color: rgba(255, 144, 14, 0.1);
  --primary-color: #ff900e;
  --paragraph-color: #727272;
  --nav-a-color: #424242;
  --white-color: #fff;
}

.btn-primary {
  border-radius: 8px;
  background: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 15px 25px;
  border: none;
}

.paragraph {
  color: var(--paragraph-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}

a:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
}
button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
}
.card:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
}

/* ------------------------------------------- */

/** The header section STARTS  **/

/* banner styles  */

.banner {
  background-color: var(--background-color);
}

/* nav bar  */

nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
nav h2 {
  font-size: 3rem;
  font-weight: 700;
}
nav a {
  text-decoration: none;
  margin-left: 30px;
  padding: 5px 10px;
  font-size: 1.1rem;
  color: var(--nav-a-color);
  border-radius: 8px;
}

/* banner description  */

.banner-description {
  max-width: 870px;
  margin: auto;
  text-align: center;
}

.banner-header {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 50px;
}

.banner-description p {
  margin: 30px auto;
}

.banner-image {
  margin: 50px 200px;
}
.banner-image img {
  width: 100%;
  margin-bottom: 50px;
}
/** The header section END **/
/* ----------------------------------------- */
/** The main secton STARTS  **/

/* team-work section starts  */

.team-work {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 250px;
  margin-bottom: 150px;
}

.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-right: 50px;
}
.team-image-container img {
  width: 100%;
}

.team-description {
  max-width: 540px;
  text-align: left;
}
.team-description h2 {
  font-size: 3rem;
  font-weight: 700;
}
.quick-list {
  color: var(--paragraph-color);
  font-weight: 500;
}
.features-text {
  color: var(--primary-color);
  font-weight: 700;
}
.team-description p {
  margin: 30px auto;
}
/* team-work section ENDS  */

/* The features section STARTS  */

.features-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
  padding-bottom: 200px;
}
.features-descriptions {
  max-width: 690px;
  width: 50%;
  margin-right: 50px;
}
.features-descriptions h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 10px solid var(--primary-color);
  border-radius: 5px;
  line-height: 65px;
  height: 160px;
  display: flex;
  align-items: center;
}
.features-descriptions > p {
  margin-left: 35px;
}
.features-cards {
  padding: 25px;
  max-width: 590px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px gray;
  margin-top: 50px;
  margin-left: 13px;
}
.features-cards h4 {
  margin-bottom: 15px;
}
.features-cards p {
  max-width: 500px;
}
.features-image {
  width: 50%;
}
.features-image img {
  width: 100%;
  position: relative;
  padding-top: 80px;
}
.huge-btn {
  position: absolute;
  margin-top: -80px;
  margin-left: -180px;
  padding: 40px 80px;
  line-height: 40px;
  font-size: 1.5rem;
}
.huge-btn > span {
  font-size: 3.5rem;
}

/* The features section ENDS  */

/* Some Facts section STARTS  */

.some-facts-container {
  margin: auto;
}
.some-facts-text {
  max-width: 545px;
  margin-left: 180px;
  margin-right: 180px;
}
.some-facts-text h2 {
  font-size: 3rem;
  font-weight: 700;
}
.some-facts-text p {
  margin: 30px auto 100px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 180px;
  margin-right: 180px;
}
.card {
  border-radius: 8px;
  border: 2px solid var(--primary-color);
  padding: 45px;
  text-align: center;
  margin: auto 20px;
  margin-bottom: 20px;
  max-width: 200px;
}
.card img {
  width: 45%;
}
.card h2 {
  color: var(--nav-a-color);
  font-size: 3rem;
  font-weight: 600;
  padding: 15px 0;
}
.card p {
  font-size: 1rem;
}

/* Some Facts section ENDS  */

/* sponsors section STARTS  */
.sponsors {
  margin: auto;
}
.sponsors-text {
  max-width: 545px;
  text-align: center;
  margin: auto;
}
.sponsors-text h2 {
  color: var(--black-color);
  font-size: 3rem;
  font-weight: 700;
  margin-top: 100px;
}
.sponsors-text p {
  padding: 50px 20px;
}
.sponsors-images {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 1300px;
  height: 100px;
}
.sponsors-images img {
  max-width: 12%;
  text-align: center;
  align-items: center;
  margin-left: 40px;
}

footer {
  background-color: var(--background-color);
}
.footer-text {
  color: rgba(0, 0, 0, 0.73);
  text-align: center;
  margin: auto;
  padding: 25px 0px;
  line-height: 35px;
  font-weight: 500;
}
